.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.glyphicon-refresh.spinning {
    transform-origin: 50% 49%;
}

div > .patient {
    background-color: #f1f1f1;
    margin-bottom: 5px;
    padding: 2px;
}

.row {
    margin-top: 10px;
}

.container-fluid {
    margin-top: 20px;
}

button {
    background-color: #ff7575;
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 3px;
    margin: 10px 0;
}

.discharged {
    margin-right: 6px !important;
}

.panel-body{
    padding-top:0px;
}

.alt-grid [class*="col-"] {
    padding-left:1px;
    padding-right:1px;
}

.alt-grid .row {
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 1px;
    margin-top:1px;
}

/* container adjusted */
.alt-grid .container-fluid {
    width:100%;
    max-width:none;
    padding:0;}

.input-group-addon {
    min-width: 45px;
    max-width: 45px;
    padding: 0 !important;
}


