<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../node_modules/toastr/build/toastr.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<title>PatMan +</title>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid alt-grid" role="main">
			<div class="page-header">
				<h3>PatMan+: Arctic Royal Infirmary</h3>
				<h5>Next-Gen Patient List Manager</h5>
			</div>
			<div id="app">
				<!--############### Search Patient Panel Starts Here ############### -->
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row" id="SearchPanel"><!---Open Row Search Panel -->
							<div class="col-md-2">
								<h4 @click="toggleFilters()">
								<span class="glyphicon glyphicon-search"></span>
								Search
								</h4>
							</div>
							<div class="col-md-10">
								<div class="row"><!---Open Row ID-Name-Discharged -->
									<div class="col-md-4">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Id: </span>
											<input @keyup="search" type="text" v-model="searchCriteria.uid" class="form-control" placeholder="Hospital Number" aria-describedby="sizing-addon3">
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Name: </span>
											<input @keyup="search" type="text" v-model="searchCriteria.name" class="form-control" placeholder="Patient Name" aria-describedby="sizing-addon3">
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group input-group-sm">
											<input type="checkbox" @click="search" id="is-discharged-checkbox" v-model="searchCriteria.is_discharged"> Discharged
										</div>
									</div>
								</div><!---Close Row ID-Name-Discharged -->
								<div class="row"><!---Open Row Ward-Team-Cons- -->
									<div class="col-md-4">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Ward: </span>
											<select class="form-control input-sm"
												@change="search" name="wards"
												v-model="searchCriteria.filters.ward">
												<option v-for="ward in searchCriteria.availableWards"
													v-bind:value="ward.name"
													aria-describedby="sizing-addon3">
													{{ ward.name }}
												</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Team: </span>
											<select class="form-control input-sm"  @change="search" name="team" 		v-model="searchCriteria.filters.team">
												<option v-for="team in searchCriteria.availableTeams"
													v-bind:value="team.code" aria-describedby="sizing-addon3">
													{{ team.code }}
												</option>
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Cons: </span>
											<select class="form-control input-sm"  @change="search" name="team" 		v-model="searchCriteria.filters.consultant">
												<option v-for="consultant in searchCriteria.availableConsultants"
													v-bind:value="consultant.initials" aria-describedby="sizing-addon3">
													{{ consultant.initials }}
												</option>
											</select>
										</div>
									</div>
								</div><!---Close Row Ward-Team-Cons- -->
							</div>
						</div><!---Close Row Search Panel -->
					</div>
				</div>
				<!--############### Search Patient Panel ENDS Here ############# -->

				<!--############### New Patient Panel STARTS Here ############### -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title" @click="toggleNewPatient()">
						<span class="glyphicon glyphicon-plus-sign"></span>
						Add Patient
						</h4>
					</div>
					<div class="panel-body"  id="new-patient-panel">
						<div class="row">
							<div class="col-md-2" id="new-patient-details">
								<div class="row">
									<div class="col-md-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">UID</span>
											<input type="text" v-model="newPatient.uid" class="form-control" id="new-patient-bed" placeholder="UID">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Name</span>
											<input type="text" v-model="newPatient.name" class="form-control" id="new-patient-name" placeholder="Name">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">DOB</span>
											<input type="text" v-model="newPatient.dob" class="form-control" id="new-patient-dob" placeholder="DOB">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Ward</span>
											<input type="text" v-model="newPatient.ward" class="form-control" id="new-patient-ward" placeholder="Ward">
										</div>
									</div>
									<div class="col-md-5">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Bed</span>
											<input type="text" v-model="newPatient.bed" class="form-control" id="new-patient-bed" placeholder="Bed">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Team</span>
											<input type="text" v-model="newPatient.team" class="form-control" id="new-patient-team" placeholder="Team">
										</div>
									</div>
									<div class="col-md-5">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Cons</span>
											<input type="text" v-model="newPatient.consultant" class="form-control" id="new-patient-consultant" placeholder="Cons">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon3">Adm</span>
											<input type="text" v-model="newPatient.adm_date" class="form-control" id="new-patient-adm-date" placeholder="Adm Date">
										</div>
									</div>
								</div>
								
							</div>
							<div class="col-md-3" id="diagnosis-present-past">
								
								<div class="row" id="diagnosis">
									<div class="col-md-12">
										<div class="input-group input-group-sm">
											<span  class="input-group-addon" id="sizing-addon3">Dx </span>
											<input type="text" v-model="newPatient.problem" class="form-control" id="patman-" placeholder="Diagnosis/Problem" aria-describedby="sizing-addon3">
										</div>
									</div>
								</div>
								
								<div class="row" id="present-history">
									<div class="col-md-12">
										<div class="input-group">
											<span class="input-group-addon input-sm"  id="sizing-addon3">Details</span>
											<textarea v-model="newPatient.details" class="form-control custom-control input-sm" rows="5" aria-describedby="sizing-addon3"></textarea>
											<div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row" id="past-history">
									<div class="col-md-12">
										<div class="input-group">
											<span class="input-group-addon input-sm"  id="sizing-addon3">PMH</span>
											<textarea v-model="newPatient.past_medical_history" class="form-control custom-control input-sm" rows="3" id="patman-" placeholder="PastHistory" aria-describedby="sizing-addon3"></textarea>
										</div>
									</div>
								</div>
							
							</div>
							
							<div class="col-md-4" id="treatment-treatdate-tests">
							
								<div class="row" id="treatment-treatdate">
									<div class="col-md-8">
										<div class="input-group input-group-sm">
											<span  class="input-group-addon" id="sizing-addon3">Rx </span>
											<input type="text" v-model="newPatient.treatment" class="form-control" id="patman-" placeholder="Treatment" aria-describedby="sizing-addon3">
										</div>
									</div>
									
									<div class="col-md-4">
										<div class="input-group input-group-sm">
											<span  class="input-group-addon" id="sizing-addon3">Dt </span>
											<input type="text" v-model="newPatient.treatment_date" class="form-control" id="patman-" placeholder="Rx Date" aria-describedby="sizing-addon3">
										</div>
									</div>
								</div>
								
								<div class="row" id="tests">
									<div class="col-md-12">
										<div class="input-group">
											<span class="input-group-addon input-sm"  id="sizing-addon3">Tests</span>
											<textarea v-model="newPatient.tests" class="form-control custom-control input-sm textarea-tests" rows="8" id="patman-" placeholder="Tests" aria-describedby="sizing-addon3"></textarea>
										</div>
									</div>
								</div>
							
							</div>
							
							<div class="col-md-3" id="jobs-adverse-events-buttons">
								
								<div class="row" id="jobs">
									<div class="col-md-12">
										<div class="input-group">
											<span class="input-group-addon input-sm"  id="sizing-addon3">Jobs</span>
											<textarea v-model="newPatient.jobs" class="form-control custom-control input-sm textarea-jobs" rows="6" id="patman-" placeholder="Jobs"  aria-describedby="sizing-addon3"></textarea>
										</div>
									</div>
								</div>
					
								<div class="row" id="adverse-events">
									<div class="col-md-12">
										<div class="input-group">
											<span class="input-group-addon input-sm"  id="sizing-addon3">AE</span>
											<input type="text" v-model="newPatient.adverse_events" class="form-control custom-control input-sm" id="patman-" placeholder="Adverse Events">
										</div>
									</div>
								</div>

								<div class="row" id="discharge-save">
									<div class="col-md-12">
										<div class="input-group">
											<span class="input-group-addon input-sm">
												<input type="checkbox"  class="form-control input-sm" name="is_discharged" aria_label="Discharged" v-model="newPatient.is_discharged">
											</span>
											<input type="text" class="form-control input-sm" aria-label="Discharged" v-model="newPatient.dis_date">
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-sm" disabled=	"disabled">
													Discharge
												</button>
										
												<button type="button" class="btn btn-warning btn-sm" v-on:click.prevent="cancelClick">
													<span class="glyphicon glyphicon-repeat"></span>
												</button>
														
												<button type="button" class="btn btn-success btn-sm" v-on:click="addPatient">
													<span class="glyphicon glyphicon-floppy-disk"></span>
													Save
												</button>
											</span>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			
		
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5 class="panel-title" @click="togglePatientList()">
						<span class="glyphicon glyphicon-th-list"></span>
						List of {{patients.length}} patients
						</h5>
					</div>
					<div id="patient-list-panel" class="container-fluid">
						<form>
							<div>
								<patient v-for="item in patients" v-bind:item="item" v-on:update-click="updatePatient"></patient>
							</div>
						</form>
					</div>
				</div>
			</div>
		
</div>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
		<script>window.$ = window.jQuery = require('jquery');</script>
		<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../node_modules/lodash/lodash.min.js"></script>
		<script src="../node_modules/vue/dist/vue.min.js"></script>
		<script src="../node_modules/bootstrap-vue/build/bootstrap-vue.js" type="text/javascript"></script>
		<script src="components/patient.component.js"></script>
		<script src="js/toastr.js"></script>
		<script src="js/notification.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>